<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav navbar-right">
        {{#if map}}
        <li><a href="/main"><i class="fa fa-2x fa-bars"></i></a></li>
        {{else}}
        <li><a href="/main/map"><i class="fa fa-2x fa-map-marker"></i></a></li>
        {{/if}}
    </ul>
</div>