@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
@import "/bower_components/font-awesome/less/font-awesome.less";

html, body {
  background-color: #fff;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}