@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,400italic);
@import "/node_modules/font-awesome/less/font-awesome.less";
@import "/node_modules/bootstrap/less/bootstrap.less";

@font-family-base: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

@body-bg: #f5f5f5;
@text-color: @gray;
@text-muted: @gray-light;
@gray-lighter: #ddd;

@brand-primary: #f67280;

@navbar-default-bg: #fff;
@navbar-default-link-color: @link-color;
@navbar-default-link-hover-color: @link-hover-color;
@navbar-default-border: @gray-lighter;

@navbar-inverse-bg: transparent;
@navbar-inverse-link-bg: #f8b195;
@navbar-inverse-link-hover-bg: @navbar-inverse-link-bg;
@navbar-inverse-link-active-bg: #f67280;
@navbar-inverse-link-color: #fff;
@navbar-inverse-border: transparent;
@navbar-inverse-border-active: #c06c84;

@panel-border-radius: 0;
@panel-footer-bg: #fff;

@label-default-bg: #fff;
@label-color: @text-color;

body {
  padding-top: @navbar-height + 20;
  padding-bottom: @navbar-height + 20;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login {
  text-align: center;

  img {
    margin: 70px 0;
  }
}
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @zindex-modal-background;
  background: rgba(255,255,255,0.5);
}
.error {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  z-index: @zindex-modal-background;
  background: @btn-danger-bg;
  color: @btn-danger-color;
}
.map-root {
  position: absolute;
  top: @navbar-height;
  bottom: @navbar-height;
  left: 0;
  right: 0;
  z-index: -1;
}
.header-logo {
  margin: 10px auto;
  height: 30px;
}
.navbar-fixed-top {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
.navbar-fixed-bottom.navbar-inverse {
  border: 0;
  li {
    > a {
      background: @navbar-inverse-link-bg;
    }
    border-top: 4px solid @navbar-inverse-border;
    &.active {
      border-color: @navbar-inverse-border-active;
    }
  }
}
.navbar, .navbar-fixed-top, .navbar-fixed-bottom {
  text-align: center;
}
.navbar-collapse.collapse {
  display: block !important;
}
.navbar-nav > li > a {
  height: 50px;
  padding: 10px 15px;
}
.navbar-nav > li, .navbar-nav {
  float: left !important;
  margin: 0 !important;
}
.navbar-right {
  float: right!important;
}
.navbar-justified {
  float: none !important;
  display: table;
  width: 100%;
  > li {
    float: none !important;
    display: table-cell;
  }
}
.panel h3 {
  margin-top: 5px;
}
.label {
  border-radius: 8px;
}
.text-white {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.rating-filled {
  color: @brand-warning;
}
.rating-empty {
  color: @gray-lighter;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}