@import "/bower_components/bootstrap/less/bootstrap.less";
@import "/bower_components/font-awesome/less/font-awesome.less";

@navbar-inverse-bg: @brand-success;
@navbar-inverse-link-color: #fff;

body {
  background-color: #fff;
  padding-top: @navbar-height + 20;
  padding-bottom: @navbar-height + 20;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-logo {
  margin: 10px auto;
  height: 30px;
}
.navbar, .navbar-fixed-top, .navbar-fixed-bottom {
  text-align: center;
  border: 0 !important;
}
.navbar-collapse.collapse {
  display: block !important;
}
.navbar-nav > li > a {
  padding: 12px 15px;
}
.navbar-nav > li, .navbar-nav {
  float: left !important;
  margin: 0 !important;
}
.navbar-nav > li, .navbar-nav {
  float: left !important;
  margin: 0 !important;
}
.navbar-right {
  float: right!important;
}

.panel h3 {
  margin-top: 5px;
}