<div>
    <p class="pull-left">
        <img src="https://graph.facebook.com/{{user.externalId}}/picture?type=square" class="img-circle" />
    </p>
    <p>{{text}}</p>
    <p class="text-muted small">
        <em>{{user.firstName}}, {{{date created 'YYYY-MM-DD HH:mm'}}}</em>
    </p>
    <hr>
</div>