<div>
    <div class="list-group">
        <a href="/user/bank-account/edit" class="list-group-item">
            <strong>Test Bank</strong><br>
            <span>1234-5 123 456 789</span>
        </a>
    </div>
</div>