<h3>Invite to dinner</h3>

<form id="eventForm">
    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Title" />
    </div>
    <div class="form-group">
        <textarea name="description" class="form-control" rows="4" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="location[address]" placeholder="Address" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="location[city]" placeholder="City" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="start" placeholder="Date/time" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="slots" placeholder="Seats" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="price" placeholder="Price" />
    </div>
    <div id="categories"></div>
</form>
<br><hr><br>
<form id="uploadForm">
    <span class="fileUpload btn btn-default">
        Upload image
        <input type="file" id="uploadFile" />
    </span>
    <div class="progress progress-striped active hide">
        <div class="progress-bar progress-bar-info" style="width: 0%;"></div>
    </div>
    <div id="image-container"></div>
</form>