<div class="navbar navbar-inverse navbar-fixed-top">
    <img src="/img/logo.png" class="header-logo" />
    <ul class="nav navbar-nav navbar-right">
        {{#if edit}}
            <li><a href="#" class="js-save"><i class="fa fa-2x fa-save"></i></a></li>
        {{else}}
            <li><a href="/host/create"><i class="fa fa-2x fa-plus"></i></a></li>
        {{/if}}
    </ul>
</div>