<br>
<p>
    Du har inte bjudit in till någon middag än.
    Skapa ditt första evenemang idag, du kommer inte ångra dig.
</p>
<br>
<a href="/host/create" class="btn btn-block btn-lg btn-success">Skapa evenemang</a>