<h1>Bjud in till middag</h1>
<p>Fyll i formuläret för att bjuda in till middag</p>

<form>
    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Rubrik" />
    </div>
    <div class="form-group">
        <textarea name="description" class="form-control" rows="4" placeholder="Beskrivning"></textarea>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="location[address]" placeholder="Adress" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="location[city]" placeholder="Stad" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="start" placeholder="Datum/tid" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="slots" placeholder="Antal platser" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="price" placeholder="Pris/person" />
    </div>
    <div id="categories"></div>
    <button type="submit" class="btn btn-primary">Skicka</button>
</form>