<br>
<p>
    You haven't invited anyone to dinner yet.
    Create your first event today, you won't regret it.
</p>
<br>
<a href="/host/create" class="btn btn-block btn-lg btn-success">Create event</a>