<div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="text" class="form-control" placeholder="Skriv meddelande" />
                <span class="input-group-btn">
                    <button class="btn btn-default">Skicka</button>
                </span>
            </div>
        </div>
    </form>
    <div id="event-logs"></div>
</div>