<div id="tab-info"></div>

<ul class="nav nav-tabs" role="tablist">
    <li><a href="#tab-log" data-toggle="tab">Log</a></li>
    <li><a href="#tab-requests" data-toggle="tab">Guests</a></li>
</ul><br>
<div class="tab-content">
    <div class="tab-pane" id="tab-requests"></div>
    <div class="tab-pane" id="tab-log"></div>
</div>