<h3>{{title}}</h3>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab-info" data-toggle="tab">Info</a></li>
    <li><a href="#tab-log" data-toggle="tab">Logg</a></li>
    <li><a href="#tab-requests" data-toggle="tab">Deltagare</a></li>
</ul><br>
<div class="tab-content">
    <div class="tab-pane active" id="tab-info"></div>
    <div class="tab-pane" id="tab-requests"></div>
    <div class="tab-pane" id="tab-log"></div>
</div>