<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li><a href="/main"><i class="fa fa-2x fa-chevron-left"></i></a></li>
    </ul>
    <img src="/img/logo.png" class="header-logo" />
</div>