<ul class="nav navbar-nav navbar-right">
    {{#if edit}}
    <li><a href="#" class="js-save"><i class="fa fa-2x fa-save"></i></a></li>
    {{else}}
    <li><a href="/user/edit"><i class="fa fa-2x fa-pencil"></i></a></li>
    {{/if}}
</ul>