<div class="panel panel-default">
    <div class="panel-body">
        <img src="https://graph.facebook.com/{{user.externalId}}/picture?type=square" class="img-circle" />
        <a href="/user/profile/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        <div class="pull-right">
            <span class="user-rating"></span>
            <a href="#" class="text-success js-approve"><i class="fa fa-2x fa-check-circle-o"></i></a>
            <a href="#" class="text-danger js-decline"><i class="fa fa-2x fa-times-circle-o"></i></a>
        </div>
    </div>
</div>