<div>
    <div class="list-group">
        <a href="/user/credit-card/edit" class="list-group-item">
            <strong>VISA</strong><br>
            <span>**** **** **** 1234</span>
        </a>
    </div>
</div>