<div>
    <form>
        <input type="hidden" name="id" value="{{id}}" />
        <div class="form-group">
            <input type="text" name="number" class="form-control" value="{{number}}" placeholder="Card number" />
        </div>
    </form>
</div>